extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Ashley Jensen
        p Full Stack JavaScript Developer
        .about-bio
        p Junior Full Stack Developer who's always up for a challenge - send those tough bugs my way! My creativity and tireless work ethic allow me to tackle projects of all sizes, all with a smile on my face.
          p In my freetime I enjoy hanging with my cats, exercising and advocating for equity (especially in tech)!


      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li HTML
          li CSS
          li Git and GitHub
          li VS Code
          li Accessibility
          li Object-oriented Programming
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 407-212-6733
          li ajensen415@yahoo.com
          
        a.btn-link(href='https://www.linkedin.com/in/ashleyejensen/' target= "_blank") LinkedIn
        a.btn-link(href='https://github.com/ajensen415' target= "_blank") GitHub
        a.btn-link(href='https://twitter.com/blessedbetheash' target= "_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back